I begin with the name of Almighty Allah

Variables and Data Types

In [2]:
#Data types in python
int_num = 10
string = "Ajadi", "Oluwaseun", "1"
Boolean = True & False
Float = 10.0, 21.3, 3.14

In [3]:
#Assining a name to a variable
name = "Tim"
print(name)

Tim

In [4]:
name = "Bob"
print(name)

Bob

In [5]:
age = 20
print(age)

20

In [6]:
Name = "Tim"
name = "Sodiq"
#The two variables are different because they are case sensitive
print(Name)
print(name)

Tim
Sodiq

In [7]:
df = 10.2
df2 = 20.3
df3 = df + df2
print(df3)

30.5

In [1]:
University = "University of Ibadan"
Course = "Computer Science"
Name = "Ajadi Oluwaseun"
Religion = "Islam"

print("My name is", Name, "I am a student of", University, "I am studying", Course, "I am a", Religion)

My name is Ajadi Oluwaseun I am a student of University of Ibadan I am studying Computer Science I am a Islam