Python for loops

In [1]:
#A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

In [2]:
#Let's assume that we got a list of fruits and we gonna print them one by one
fruits = ["Apple", "Banana", "Oranges", "Strawberry"]
for x in fruits:
  print(x)

Apple
Banana
Oranges
Strawberry

In [3]:
#We can loop through a string, as they contain a sequence of character
name = "Ajadi Sodiq Abayomi"
for x in name:
  print(x)

A
j
a
d
i

S
o
d
i
q

A
b
a
y
o
m
i

In [4]:
# With the break statement we can stop the loop before it has looped through all the items
#It will break after banana

fruits = ["apple", "banana", "cherry", "Strawberry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [7]:
# Exit the loop when x is "banana", but this time the break comes before the print

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [6]:
for i in range(0, 31, 3):
  print(i)
  if i == 21:
    break

0
3
6
9
12
15
18
21

In [9]:
#contniue statement
for i in range(0, 31, 3):
  if i == 21:
    continue
  print(i)

0
3
6
9
12
15
18
24
27
30

In [10]:
fruits = ["apple", "banana", "cherry", "Strawberry"]
for fruit in fruits:
  if fruit == "cherry":
    continue
  print(fruit)

apple
banana
Strawberry

In [12]:
# The else keyword in a for loop specifies a block of code to be executed when the loop is finished:

for i in range(3, 30, 3):
  print(i)
else:
  print("These are the number divisible by 3")

3
6
9
12
15
18
21
24
27
These are the number divisible by 3

In [13]:
#Another thing to put in mind when using the else statement is that, it's not going to work if the codes got terminated by break

for i in range(0, 30, 3):
  if i == 21:
    break
  print(i)
else:
  print("This is the output")

0
3
6
9
12
15
18

In [17]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [18]:
#To be specific with the adjective to fruits, we can make use of the zip function
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x, y in zip(adj, fruits):
    print(x, y)

red apple
big banana
tasty cherry

In [19]:
# for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.
for x in [0, 1, 2]:
  pass