In [ ]:
#IfElseIfElse

In [4]:
#if conditon == True:
#    do something 

age = input("what is your age: ")

if age == 16:
    print("hey, you are 16")
#By assigning 12 to the age, nothing will be printed

In [5]:
#if conditon == True:
#    do something 

age = input("what is your age: ")

if age == 16:
    print("hey, you are 16")
#By assigning 16 to the age also nothing will be printed. This is because the age is a string and not an integer.

In [6]:
#To fix the above issue, we can convert the age to an integer
age = int(input("what is your age: "))

if age == 16:
    print("hey, you are 16")
#So we got the output "hey, you are 16" because the age is now an integer and not a string.

hey, you are 16

In [7]:
#moving to the esle statement
age = int(input("what is your age: "))
if age >= 16:
    print("hey, you are older than 16")
else:
    print("you are younger than 16")

you are younger than 16

In [8]:
Univeristy_of_Manchester_Sch_fee = int(input("what is your school fee: "))

if Univeristy_of_Manchester_Sch_fee >= 10000:
    print("You are likely to be in school of engineering")
elif Univeristy_of_Manchester_Sch_fee >= 20000:
    print("You are likely to be in school of business")
elif Univeristy_of_Manchester_Sch_fee >= 30000:
    print("You are likely to be in school of medicine")
else:
    print("You are likely to be in school of law")

You are likely to be in school of engineering

In [9]:
#Chained conditionals and Nested statements
x = 10
y = 12

if x == y and x + y == 22:
    print("x and y are equal and the sum of x and y is 22")

#The statement above will not return anything because of the "and" operator. 
# The "and" operator requires both conditions to be true before it can return anything.

In [12]:
x = 10
y = 12

if x == 10 and x + y == 22:
    print("True")

True

In [13]:
#Nested loop

x = 2
y = 3

if x == 2:
    if y == 3:
        print("x = 2 and y = 3")
    else:
        print("x = 2 and y != 3")
else:
    print("x != 2")
print("End of the program")

x = 2 and y = 3
End of the program

In [16]:
#Nested loop

x = 5
y = 3

if x == 2:
    if y == 3:
        print("x = 2 and y = 3")
    else:
        print("x = 2 and y != 3")
else:
    print("x != 2")
print("End of the program")
#The output returned the statement under the general else statement because the condition x == 2 is not true.

x != 2
End of the program

In [2]:
#for loop in python

for x in range(0, 10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [3]:
#for loop in python
for x in range(0,12,4):
    print(x)

0
4
8

In [20]:
for x in range(0, 10, 3):
    print(x)

0
3
6
9

In [4]:
#A loop that returns the 3 and its divisible from 3 to 30
for x in range(3, 31, 3):
    print(x)

3
6
9
12
15
18
21
24
27
30