In [1]:
#adding values to dictionary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [2]:
#remove dictionary items
#There exists several ways to this
thisdict.popitem()

('color', 'red')

In [3]:
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [4]:
#To remove a specific item

thisdict.pop("brand")

'Ford'

In [5]:
print(thisdict)

{'model': 'Mustang', 'year': 1964}

In [8]:
#looping through a dictionary
#printing the keys
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for x in thisdict:
  print(x)

brand
model
year

In [9]:
#Alternative ways of returning the keys in a dictionary
#we can do it as follows:
for x in thisdict.keys():
  print(x)

brand
model
year

In [10]:
#looping through the values
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for x in thisdict:
  print(thisdict[x])

Ford
Mustang
1964

In [4]:
#likewise for values
#we can use also use the "values" method

for x in thisdict.values():
  print(x)

Ford
Mustang
1964

In [6]:
#for item i.e. both keys and values
for x,y in thisdict.items():
  print(x,y)

brand Ford
model Mustang
year 1964

In [11]:
#nested loop
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [12]:
for x, y in myfamily["child2"].items():
  print(x,y)

name Tobias
year 2007

In [3]:
#Loop through the keys and values of all nested dictionaries:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [13]:
for x, obj in myfamily.items():
  print(x)

  for y in obj:
    print(y + ':', obj[y])

child1
name: Emil

year: 2004

child2
name: Tobias

year: 2007

child3
name: Linus

year: 2011